.img {

    width: 25%;
}

body {
    font-size: 22px;
}


a{
    text-decoration: none;
}


p {
    font-size: 22px;
}



header {
    background-color: #000;
    height: 90px;
    padding-top: 8px;
   
}

.logo {
    padding: 30px 100px;
}

.logo img {
    width: 70%;
}

.logo2 img {
    padding-top: 20px;
    width: 70%;
}

h2 {
    font-size: 20px;
    letter-spacing: 2px;
}


select {
    width: 70%;
    padding: 0.4375em 0;
    padding-top: 0px;
    border-top: 0.84375em solid transparent;
    border-bottom: solid red;
    border-left: 0.84375em solid transparent;
    border-right: 0.84375em solid transparent;
}



@media(max-width: 765px) {
    .logo img {
        width: 100%;
    }
}

footer {
    background-color: #000;
    font-size: 20px;
  }

.sizeOpt{
    padding-top: 15px;
    font-size: 18px;
}

