header {
    background-color: #000;
    height: 90px;
    padding-top: 8px;
   
}
a{
    text-decoration: none;
}

footer {
    background-color: #000;
    font-size: 20px;
    
}

.formato1 {
    font-size: 24px;
}

#resultado {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}
h3, h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 18px;
}

.img{
    width:90%;

}

.img2{
    width:60%;
}


.title1{
    background-color: rgb(202, 79, 79);
    padding-bottom: 4px;
    letter-spacing: 3px;
    
}

