a{
  text-decoration: none;
}

header {
  background-color: #000;
  height: 90px;
  padding-top: 8px; 
}

footer {
background-color: #000;
font-size: 20px;
}

.f1{
    background-color: rgb(235, 230, 230);
}

.resultado{
   width: 50%;
    background-color: white;
    color: #000; /* Color de texto */
    border-color: #3b3737;
    padding-left: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

